<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="training?.picture?.sanitized">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{literals.form.description}}:</ion-label>
        </ion-item>
        <ion-item lines="none">
          <ion-text class="ion-margin">
            {{training.description}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row (click)="openUserModal()">
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{literals.common.owner}}:</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="training?.creator?.picture?.sanitized">
          </ion-thumbnail>
          <ion-label class="ion-text-center">
            {{training?.creator?.firstName + ' ' + training?.creator?.lastName}}
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of training?.tags" outline>
          <ion-label>{{tag.description}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <app-activity-list *ngIf="training?.id" [trainingId]="training.id" [readMode]="true"></app-activity-list>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" [color]="userLibrary ? 'light' : 'success'" (click)="addToLibrary()"
      [disabled]="userLibrary">
      <ion-icon *ngIf="!userLibrary" slot="start" name="add-outline"></ion-icon>
      {{libraryButton}}
    </ion-button>
  </ion-toolbar>
</ion-footer>