<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img *ngIf="selectedPicture" [src]="selectedPicture?.sanitized">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="openImageSelection()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          {{literals.pages.select_images}}
        </ion-button>
        <input type="file" id="file-input" slot="end" (change)="saveSelectedImages($event)" multiple>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{literals.form.title}}:</ion-label>
          <ion-input [(ngModel)]="exercise.title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{literals.form.description}}:</ion-label>
          <ion-textarea [(ngModel)]="exercise.description" rows="3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{literals.form.material}}:</ion-label>
          <ion-toggle [(ngModel)]="hasMaterial" slot="end">
          </ion-toggle>
        </ion-item>

        <ion-item *ngIf="hasMaterial">
          <ion-textarea [(ngModel)]="exercise.material" rows="3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="openTagSelection()">
          <ion-icon slot="start" name="pricetag-outline"></ion-icon>
          {{literals.pages.select_tags}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of selectedTags" outline>
          <ion-label>{{tag.description}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="prepareModel()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      {{literals.common.save}}
    </ion-button>
  </ion-toolbar>
</ion-footer>