<ion-slides [pager]="files.length > 1" [options]="slideOptions">
  <ion-slide *ngFor="let file of files">
    <div *ngIf="allowEdit" class="allowEdit">
      <ion-button (click)="confirmDelete(file?.id)" color="light">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        {{literals.form.delete}}
      </ion-button>
    </div>
    <img *ngIf="file.type!=='mp4'" [src]="file.sanitized" imageViewer />

    <video *ngIf="file.type==='mp4'" controls>
      <source [src]="file.sanitized" type="video/mp4">
      {{literals.messages.video_not_supported}}
    </video>
  </ion-slide>
</ion-slides>