<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{pageTitle}}
    </ion-title>
    <ion-buttons slot="end">
      <ion-button (click)="deleteActivity()">
        <ion-icon slot="start" name="trash-outline"></ion-icon>
        {{literals.form.delete}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="selectedExercise">
      <ion-col>
        <ion-item (click)="goTo('/exercise/edit', selectedExercise.id)" exercise Item>
          <ion-thumbnail slot="end">
            <img [src]="selectedExercise?.picture?.sanitized">
          </ion-thumbnail>
          <ion-label>
            <h1><b>{{selectedExercise?.title}}</b></h1>
            <h3>{{selectedExercise?.description}}</h3>
            <br *ngIf="selectedExercise?.tags?.length">
            <ion-chip *ngFor="let tag of selectedExercise?.tags" [style]="{'color':tag.color, 'border-color':tag.color}"
              outline>
              <ion-label>{{tag.description}}</ion-label>
            </ion-chip>
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="openExerciseSelection()">
          <ion-icon slot="start" name="accessibility-outline"></ion-icon>
          {{literals.pages.select_exercise}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{literals.form.duration}} ({{literals.form.seconds}}):</ion-label>
          <ion-toggle [(ngModel)]="durationInput.active" slot="end" (ionChange)="disableInput($event, durationInput)">
          </ion-toggle>
        </ion-item>

        <ion-item *ngIf="durationInput.active">
          <ion-badge color="primary" slot="end">{{durationInput.value}}</ion-badge>
          <ion-range [(ngModel)]="durationInput.value" [min]="durationInput.min" [max]="durationInput.max"
            [step]="durationInput.step" snaps="true" ticks="true" pin="true" color="primary"
            [disabled]="!durationInput.active" (ionChange)="showTotal()"></ion-range>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{literals.form.repeats}}:</ion-label>
          <ion-toggle [(ngModel)]="repeatsInput.active" slot="end" (ionChange)="disableInput($event, repeatsInput)">
          </ion-toggle>
        </ion-item>

        <ion-item *ngIf="repeatsInput.active">
          <ion-badge color="primary" slot="end">{{repeatsInput.value}}</ion-badge>
          <ion-range [(ngModel)]="repeatsInput.value" [min]="repeatsInput.min" [max]="repeatsInput.max"
            [step]="repeatsInput.step" snaps="true" ticks="true" pin="true" color="primary"
            [disabled]="!repeatsInput.active" (ionChange)="showTotal()"></ion-range>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>{{literals.form.sets}}:</ion-label>
          <ion-toggle [(ngModel)]="setsInput.active" slot="end" (ionChange)="disableInput($event, setsInput)">
          </ion-toggle>
        </ion-item>

        <ion-item *ngIf="setsInput.active">
          <ion-badge color="primary" slot="end">{{setsInput.value}}</ion-badge>
          <ion-range [(ngModel)]="setsInput.value" [min]="setsInput.min" [max]="setsInput.max" [step]="setsInput.step"
            snaps="true" ticks="true" pin="true" color="primary" [disabled]="!setsInput.active"
            (ionChange)="showTotal()"></ion-range>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label>
            {{literals.form.total}}: {{total}}
          </ion-label>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{literals.form.comments}}:</ion-label>
          <ion-textarea [(ngModel)]="activity.comments" rows="3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="prepareModel()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      {{literals.common.save}}
    </ion-button>
  </ion-toolbar>
</ion-footer>