<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Edit Activity
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">

</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" [disabled]="loading">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      Save
    </ion-button>
  </ion-toolbar>
</ion-footer>