<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      <ion-searchbar [placeholder]="'Pesquisar'" animated></ion-searchbar>
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explorar">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Explorar</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="biblioteca">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Biblioteca</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="perfil">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>Meu Perfil</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="conversas">
      <ion-icon name="chatbox-outline"></ion-icon>
      <ion-label>Minhas Conversas</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
