<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Trainer App
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-tabs>
  <ion-tab-bar slot="bottom">
    <ion-tab-button tab="explore">
      <ion-icon name="bag-outline"></ion-icon>
      <ion-label>Explore</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="library">
      <ion-icon name="library-outline"></ion-icon>
      <ion-label>Library</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="profile">
      <ion-icon name="person-outline"></ion-icon>
      <ion-label>My Profile</ion-label>
    </ion-tab-button>
  </ion-tab-bar>
</ion-tabs>
