<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Trainings
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="trainings && trainings.length">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let training of trainings" (click)="goTo('/training/edit', training.id)">
            <ion-thumbnail slot="end">
              <img src="https://picsum.photos/200">
            </ion-thumbnail>
            <ion-label>
              <h1><b>{{training.title}}</b></h1>
              <h3>{{training.description}}</h3>
              <br *ngIf="training?.tags?.length">
              <ion-chip *ngFor="let tag of training?.tags" [style]="{'color':tag.color, 'border-color':tag.color}"
                outline>
                <ion-label>{{tag.description}}</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="goTo('/training/new')" [disabled]="loading">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      New
    </ion-button>
  </ion-toolbar>
</ion-footer>