<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/profile"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{pageTitle}}
    </ion-title>

    <ion-buttons slot="end" *ngIf="userLibrary">
      <ion-button (click)="updateFavorite()">
        <ion-icon [name]="userLibrary.favorite ? 'star' : 'star-outline' "></ion-icon>
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img src="https://picsum.photos/800/600">
  <ion-grid>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{literals.form.description}}:</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-text class="ion-margin">
            {{training?.description}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row (click)="openUserModal()">
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{literals.common.owner}}:</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="trainingPicture">
          </ion-thumbnail>

          <ion-label class="ion-text-center">
            {{training?.creator?.firstName + ' ' + training?.creator?.lastName}}
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of training?.tags" outline>
          <ion-label>{{tag.description}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <!-- <app-activity-list *ngIf="trainingId" [trainingId]="trainingId" [readMode]="true"></app-activity-list> -->
  </ion-grid>
</ion-content>