<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>

    <ion-title>
      {{pageTitle}}
    </ion-title>

    <ion-buttons slot="end" *ngIf="userLibrary">
      <ion-button (click)="updateFavorite()">
        <ion-icon [name]="userLibrary.favorite ? 'star' : 'star-outline' " slot="start"></ion-icon>
        {{literals.common.favorite_action}}
      </ion-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img [src]="training?.picture?.sanitized">
  <ion-grid>

    <ion-row *ngIf="training?.description">
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{literals.form.description}}:</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-text class="ion-margin">
            {{training?.description}}
          </ion-text>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row (click)="openUserModal()" *ngIf="training?.creator">
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{literals.common.owner}}:</ion-label>
        </ion-item>

        <ion-item lines="none">
          <ion-thumbnail slot="start">
            <img [src]="training?.creator?.picture?.sanitized">
          </ion-thumbnail>

          <ion-label class="ion-text-center">
            {{training?.creator?.firstName + ' ' + training?.creator?.lastName}}
          </ion-label>
          <ion-icon name="chevron-forward-outline" slot="end"></ion-icon>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of training?.tags" outline>
          <ion-label>{{tag.description}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>
    <app-activity-list-view *ngIf="training?.id" [trainingId]="training.id"></app-activity-list-view>
  </ion-grid>
</ion-content>