<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>{{literals.pages.select_tags}}</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-grid>

    <ion-item-divider>
      <ion-label>
        {{literals.form.selected_tags}}
      </ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col>
        <div *ngIf="!loading && selectedTags?.length">
          <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of selectedTags" outline
            (click)="remove(tag)">
            <ion-label>{{tag.description}}</ion-label>
            <ion-icon name="close" [style]="{'color':tag.color}"></ion-icon>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>

    <ion-item-divider>
      <ion-label>
        {{literals.form.available_tags}}
      </ion-label>
    </ion-item-divider>
    <ion-row>
      <ion-col>
        <div *ngIf="!loading && availableTags?.length">
          <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of availableTags" outline
            (click)="add(tag)">
            <ion-label>{{tag.description}}</ion-label>
          </ion-chip>
        </div>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="dismiss()" [disabled]="loading">
      <ion-icon slot="start" name="checkmark-outline"></ion-icon>
      {{literals.common.ok}}
    </ion-button>
  </ion-toolbar>
</ion-footer>