<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{pageTitle}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <img *ngIf="selectedPicture" [src]="selectedPicture?.sanitized">
  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="openImageSelection()">
          <ion-icon slot="start" name="image-outline"></ion-icon>
          {{literals.pages.select_image}}
        </ion-button>
        <input type="file" id="file-input" slot="end" (change)="saveSelectedImage($event)">
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{literals.form.title}}:</ion-label>
          <ion-input [(ngModel)]="training.title"></ion-input>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="floating">{{literals.form.description}}:</ion-label>
          <ion-textarea [(ngModel)]="training.description" rows="3"></ion-textarea>
        </ion-item>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-item>
          <ion-label position="fixed">{{literals.form.publish}}:</ion-label>
          <ion-toggle [(ngModel)]="training.published" slot="end"></ion-toggle>
        </ion-item>
      </ion-col>
    </ion-row>


    <ion-row>
      <ion-col>
        <ion-button expand="block" color="light" (click)="openTagSelection()">
          <ion-icon slot="start" name="pricetag-outline"></ion-icon>
          {{literals.pages.select_tags}}
        </ion-button>
      </ion-col>
    </ion-row>

    <ion-row>
      <ion-col>
        <ion-chip [style]="{'color':tag.color, 'border-color':tag.color}" *ngFor="let tag of selectedTags" outline>
          <ion-label>{{tag.description}}</ion-label>
        </ion-chip>
      </ion-col>
    </ion-row>

    <app-activity-list *ngIf="trainingId" [trainingId]="trainingId" [readMode]="false"></app-activity-list>
    <ion-row>
      <ion-col>
        <ion-item *ngIf="!trainingId" class="no-activities">
          <ion-icon name="information-circle-outline" color="warning" slot="start"></ion-icon>
          <ion-label color="warning">{{literals.messages.warn_adding_activities}}</ion-label>
        </ion-item>
      </ion-col>
    </ion-row>


  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="prepareModel()">
      <ion-icon slot="start" name="save-outline"></ion-icon>
      {{literals.common.save}}
    </ion-button>
  </ion-toolbar>
</ion-footer>