<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="spinnerRequest">
      <ion-col class="ion-text-center">
        <ion-spinner name="crescent"></ion-spinner>
      </ion-col>
    </ion-row>
    <ion-row *ngIf="exercises && exercises.length">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let exercise of exercises">
            <ion-label>
              <h2><b>{{exercise.title}}</b></h2>
              <h3>{{exercise.description}}</h3>
            </ion-label>
      
            <ion-icon *ngIf="exercise.images && exercise.images.length" slot="end" name="image-outline"></ion-icon> {{ exercise.images?.lenght}}
            <ion-icon *ngIf="exercise.video" slot="end" name="film-outline"></ion-icon>
            <ion-icon slot="start" name="create-outline" (click)="goTo('/exercise/edit', exercise.id)"></ion-icon>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="goTo('/exercise/new')" [disabled]="spinnerRequest">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      New
    </ion-button>
  </ion-toolbar>
</ion-footer>