<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/dashboard/profile"></ion-back-button>
    </ion-buttons>
    <ion-title>
      Exercises
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="exercises && exercises.length">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let exercise of exercises">
            <ion-label>
              <h1><b>{{exercise.title}}</b></h1>
              <h3>{{exercise.description}}</h3>
              <br *ngIf="exercise?.tags?.length">
              <ion-chip *ngFor="let tag of exercise?.tags"  [style]="{'color':tag.color, 'border-color':tag.color}" outline>
                <ion-label>{{tag.description}}</ion-label>
              </ion-chip>
            </ion-label>

            <ion-icon slot="end" name="create-outline" (click)="goTo('/exercise/edit', exercise.id)"></ion-icon>

          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>

  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="goTo('/exercise/new')" [disabled]="spinnerRequest">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      New
    </ion-button>
  </ion-toolbar>
</ion-footer>