<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="" (click)="goBack()"></ion-back-button>
    </ion-buttons>
    <ion-title>
      {{literals.common.exercises}}
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row *ngIf="exercises && exercises.length">
      <ion-col>
        <ion-list>
          <ion-item *ngFor="let exercise of exercises" (click)="goTo('/exercise/edit', exercise.id)">
            <ion-thumbnail slot="end">
              <img src="https://picsum.photos/200">
            </ion-thumbnail>
            <ion-label>
              <h1><b>{{exercise.title}}</b></h1>
              <h3>{{exercise.description}}</h3>
              <br *ngIf="exercise?.tags?.length">
              <ion-chip *ngFor="let tag of exercise?.tags" [style]="{'color':tag.color, 'border-color':tag.color}"
                outline>
                <ion-label>{{tag.description}}</ion-label>
              </ion-chip>
            </ion-label>
          </ion-item>
        </ion-list>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>

<ion-footer>
  <ion-toolbar>
    <ion-button expand="block" color="success" (click)="goTo('/exercise/new')">
      <ion-icon slot="start" name="add-outline"></ion-icon>
      {{literals.common.add}}
    </ion-button>
  </ion-toolbar>
</ion-footer>