<ion-header [translucent]="true">
  <ion-toolbar>
    <!-- <ion-title> {{literals.menu.explore}} </ion-title> -->
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-refresher slot="fixed" (ionRefresh)="doRefresh($event)">
    <ion-refresher-content></ion-refresher-content>
  </ion-refresher>

  <ion-grid>
    <ion-row>
      <ion-col>
        <ion-card *ngFor="let training of trainings" (click)="goTo('view/training', training.code)">
          <img [src]="training?.picture?.sanitized">
          <ion-card-header>
            <ion-card-subtitle>
              {{literals.messages.date_published}}: {{training?.published | date: 'dd/MM/yyyy'}}
            </ion-card-subtitle>
            <ion-card-title>
              {{training.title}}
            </ion-card-title>
          </ion-card-header>

          <ion-item *ngIf="training?.tags?.length" lines="none">
            <ion-chip *ngFor="let tag of training?.tags" [style]="{'color':tag.color, 'border-color':tag.color}"
              outline>
              <ion-label>{{tag.description}}</ion-label>
            </ion-chip>
          </ion-item>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>